.Header {
  border: 2px dotted;
  display: flex;
  justify-content: space-between;
}

.Header > div {
  border: 2px solid;
}

.nav {
  display: flex;
  margin-left: 20px;
}

.Content {
  display: flex;
  justify-content: space-around;
  border: 2px dotted;
  height: 80vh;
}

.Feed {
  border: 2px dotted;
  height: 60vh;
}

.Sidebar {
  border: 2px dotted;
  height: 60vh;
}

.Footer {
  display: flex;
  justify-content: center;
  border: 2px dotted;
  height: 10vh;
}
.Input {
  border: 2px dotted;
}

.sendButton {
  height: 20px;
}
